@media screen and (max-width:1250px) {
    .container{
        width: 960px;
    }
}
@media screen and (max-width:1000px) {
    .container{
        width: 720px;
    }
    .wards-line {
       justify-content: center;
    }
    .red_alert .wrapper {
        font-size: 30px;
    }
    .main .text {
        font-size: 30px;
    }
    nav {
        height: auto;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .nav-block {
        margin: 10px;
    }
    .phone {
        display: block;
        margin: 20px;
    }

}
@media screen and (max-width:760px) {

    .container{
        width: 540px;
    }



}
@media screen and (max-width:600px) {
    .container{
        width: 90%;
    }
    .red_alert {
        width: 100%;
        margin: 0 auto;
        padding: 30px 0;
    }
    .main .text {
        font-size: 18px;
        margin-top: 100px;
    }
    .help_line .item {
        width: 90%;
    }
    #about {
        padding-top: 110px;
    }
    #about .content img {
        position: absolute;
        width: 200px;
        top: -133px;
        right: 0;
    }
    .ward-wrapper {
        width: 220px;
        margin: 50px;
    }
    .owl-nav button {
        width: 30px;
        height: 30px;
    }
    .owl-prev {
        left: -40px;
        top: -15px;
    }
    .owl-next {
        top: -15px;
        right: -40px;
    }
    .logo-text span:first-child {
        font-size: 20px;
    }
    .link {
        margin: 10px 10px;
    }
    .footer_content {
        padding: 25px 0;
        flex-direction: column;
        align-items: center;
    }
    .footer_content .item {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 20px;
    }



}
@media screen and (max-width:430px) {
    .red_alert .wrapper {
        font-size: 20px;
    }
    .link {
        margin: 10px 5px;
        font-size: 14px;
        border-bottom: 2px solid #aa1a21;
    }
    .phone {
        margin: 10px;
    }
    .logo-text span:first-child {
        font-size: 19px;
    }
}